/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}




.navButton {
  margin: 2vw 2vh 2vh 2vw;
  filter: drop-shadow(5px 5px #272727);
  color: rgb(255, 255, 255);
  border-color: rgb(22, 22, 22);
  border-radius: 5px;
  border-width: 3px;
  background-color: #FF165D;
  transition: all .2s ease-in-out;
}

.subButton {
  margin-top: 2px;
  color: #FFFF;
  border-color: rgb(22, 22, 22);
  border-radius: 5px;
  border-width: 3px;
  background-color: #FF165D;
  transition: all .2s ease-in-out;
}

.searchButton {
  background-color: #FF165D;
  border-color: rgb(22, 22, 22);
  border-right-width: 3px;
  border-bottom-width: 3px;
  border-top-width: 3px;
  color: #FFFF;
}

.searchBar {
  border-color: rgb(22, 22, 22);
  border-width: 3px;
}

.navButton:hover, .navButton:active, .subButton:hover, .subButton:active {
    transform: scale(1.1);
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#followOnly {
    font-style: italic;
    color: #FF165D;
}

#titleSection {
    margin-left: 5px;
}

body {
   background-color: #F6F7D7;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}

.searchScreen {
  padding: 70px 0;
  text-align: center;  
}

.searchResults {
  margin-top: 50%;
}

.channelCard {
  color: #FF165D;
  border-width: 3px;
  padding-top: 2vh;
}